/*
	Custom CSS for the App
	By Kamal Uddin
*/

/*-----------------
	Colors

offwhite	f9f9f9
dark 		2C304E
drak 2:hover menu 252946
font color: 98a8b4
background: f2f3f8
a 			5d5386
:hover		e76c90
heading		2c304d
			aea9c3
beguni      5D5386

-----------------*/

@media(max-width: 600px) {
	.header-search-bar {
		display: none;
	}
}

/*-----------------
	Genaral
-----------------*/

* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
html {
	font-size: 14px;
}
body {
	overflow-x: hidden;
}


/*------------------------
	Global
-------------------------*/
.ml-auto {
	margin-left: auto;
}

.small-font {
	font-size: 0.8rem;
}
.the-remark {
	font-weight: 300;
	font-size: 0.8rem;
}

.the-spacer {
    height: 75px;
}

.box-shadow {
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
}
body {
	/*font-family: 'Noto Sans', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	color: #98a8b4;
	margin: 0;
	background-color: #f2f3f8;
}
a {
	color: #aea9c3;
	text-decoration: none;
	transition: all 0.5s ease;
}
a:hover, a:focus {
	color: #e76c90;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	margin-bottom: .5rem;
	font-family: 'Noto Sans', sans-serif;
	line-height: 1.1;
	color: #2c304d;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}


/************************
	Navbar
************************/
#navbar-area {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	min-height: 76px;
	z-index: 100;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	box-shadow: 0 1px 5px 1px rgba(52, 40, 104, 0.08);
}

#dropdownMenuLink::after, #dropdownMenuLink2::after{
    display: none;
}


/*---------------------
	Header elemnts
---------------------*/
.brand {
	margin-right: 38px;
	transition: all 0.7s;
}
.badge-item {
	position: relative;
}
.notification-badge {
	position: absolute;
	top: -17px;
	left: 11px;
	font-size: 0.6rem;
	padding: 4px;
	background-color: #e76c90;
	color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
}
.header-area .user-img {
	border-radius: 50%;
	font-size: 0px;
}
.header-area .badge-item i {
	font-size: 1.5rem;
}
.header-area .profile, .header-area .bell, .header-area .msg{
	margin-right: 20px;
}
.header-area .profile {
	margin-right: 38px;
}
.header-area .user-img-holder {
	margin: 0 10px 0 5px;
}
.header-area .profile-body a {
    color: #5D5386;
	padding: 8px 0;
	font-weight: 600;
	font-size: 0.85rem;
	display: block;
}

.header-area .profile-body {
	top: 20px !important;
	padding: 20px;
	border-radius: 3%;
	border-bottom: 1px solid #eee;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}
.profile .profile-body i {
	font-size: 2rem;
}
.profile .power-off a {
	text-align: center;
	border-top: 1px solid #eee;
	padding-top: 20px;
	margin-top: 20px;
}
.profile .power-off a:hover {
	color: #e76c90;
}
.msg .profile-body,.bell .profile-body {
	padding: 0;
}
.msg .profile-body li:first-child, .bell .profile-body li:first-child {
	border-top-left-radius: 3%;
	border-top-right-radius: 3%;
	padding: 30px 50px;
	text-align: center;
	background-color: #5D5386;
	color: #fff;
	font-size: 1.1rem;
}
.msg .profile-body a, .bell .profile-body a {
	padding: 15px;
}

.msg .profile-body .view-all-ntf a, .bell .profile-body .view-all-ntf a {
	text-align: center;
	border-top: 1px solid #eee;
	margin-top: 15px;
}
.msg .msg-icon, .msg .msg-body, .bell .msg-icon, .bell .msg-body {
	vertical-align: middle;
	display: table-cell;
	font-weight: 500;
	padding-left: 10px;
}
.msg .msg-icon,.bell .msg-icon {
	font-size: 1.5rem;
	padding: 0 10px 0 10px;
	border-right: 1px solid #eee;
}
.bell .profile-body li:first-child {
	background-color: #e76c90;
}
.profile-list {
	width: 100px;
}


/************************
	Sidebar
************************/
#sidebar-area {
	position: fixed;
	top: 0;
	height: 100%;
	overflow-y: auto;
	width: 250px;
	background-color: #2C304E;
	transition: all 0.7s;
}

.slide-icon {
	text-decoration: none;
	font-weight: 700;
	font-size: 30px;
}

.side-menu a:focus {
	color: #fff;
}
.side-menu a:hover {
	color: #fff;
	background-color: rgba(255,255,255,0.1);
}

.side-menu ul li ul li a {
	font-size: 0.95rem;
	padding: 10px 0 10px 50px;

}

.side-menu a {
	padding: 10px 15px;
	display: block;
	font-weight: 500;
	text-decoration: none;
}




/************************
	Content area
************************/
#content-area {
	width: calc(100% - 250px);
	margin-left: 250px;
	padding: 20px;
	transition: all 0.7s;
}


/*------------------------
	Cards
-------------------------*/
.notice-area .the-card-t, .the-card-n {
	display: table-cell;
	vertical-align: middle;
	color: #5D5386;
}
.notice-area .the-card-n {
	font-size: 2rem;
	font-weight: 700;
	border-right: 1px solid #eee;
	padding-right: 5px;
}
.notice-area .the-card-t {
	font-weight: 300;
	padding-left: 5px;
	color: #98a8b4;
}

.notice-area .the-card-t span {
	color: #5D5386;
	font-size: 1.3rem;
	font-weight: 700;
}
.notice-area .card-header div {
	display: table-cell;
	vertical-align: top;
	padding: 0 5px;
}
.notice-area .card-header span {
	color: #e76c90;
}
.notice-area .card-header i {
	font-size: 1.5rem;
	color: #5D5386;
}
.card-header {
    font-family: 'Noto Sans', sans-serif;
	font-size: 1.1ren;
	font-weight: 700;
}


/*------------------------
	Page Header
-------------------------*/
.page-header-heading {
    margin: 10px 0 25px 0;
}
.page-header-heading h4 {
	color: #2C304E;
	font-weight: 700;
    padding-left: 15px;
}
.page-header-heading h4 span {
	color: #fff;
	padding: 2px 4px;
	border-radius: 4px;
	vertical-align: middle;
	font-size: 0.7rem;
}
.page-header-heading .admin-badge {
	background-color: #28A745;
}
.page-header-heading .assistent-badge {
	background-color: #FF6E8C;
}
.page-header-heading .user-badge {
	background-color: #17A2B8;
}
.page-header-heading .payroll-badge {
	background-color: #007BFF;
}

/*************************
	sign in css
**************************/
.sign-in-form {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .form-control {
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/***********************
	form css
************************/
.form-holder {
    padding: 0 40px 40px;
}
.the-form-heading {
	color: #5D5386;
	border-bottom: 1px solid #5D5386;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-weight: 700;
}
.container-fluid {
	overflow-x: hidden;
}

.e-photo input[type="file"] {
	padding: 0.58rem;
	border: 1px solid #CED4DA;
	border-radius: 4px;
	overflow-x: hidden;
}


/************************
	Search bar
*************************/
.the-search-bar {
	padding: 40px;
	margin-bottom: 20px;
}
.the-search-bar input[type=search], .the-search-bar select, .the-search-bar button, .header-search-bar button, .header-search-bar select, .header-search-bar input[type=search] {
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
}
.header-search-bar {
	width: 100%;
	padding: 0 20px;
}
.header-search-bar .form-group {
	margin-bottom: 0;
}


/************************
	Search Result
*************************/
.result-head {
	text-transform: capitalize;
}
.result-body {
	background-color: #eee;
	font-size: 0.9rem;
	color: #222;
}